aniso8601==1.1.0
behave==1.2.5
behave-py3==1.2.5.post2014122202
behave-pytest==0.1.1
chatbot==1.5.2b0
Flask==0.10.1
Flask-HTTPAuth==2.3.0
Flask-RESTful==0.3.1
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
parse==1.6.6
parse-type==0.3.4
pbr==1.8.1
py==1.4.31
py2neo==2.0.8
pytest==2.8.5
python-dateutil==2.4.2
pytz==2015.7
selenium==2.52.0
six==1.9.0
stevedore==1.11.0
virtualenv==14.0.6
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.9.6
